<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Instagram Connected</title>
</head>

<body>

    <h1>Instagram OAuth Successful</h1>

    <p>
        Instagram authorization successfully complete ho gaya.
    </p>

    <p>
        Ab next step me hum Instagram account ki information
        database me save karenge.
    </p>

    <a href="/">
        Back to AI Video Repurposer
    </a>

</body>
</html>